* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;

    font-family: "Roboto", sans-serif;
}

/* Cabeçalho*/




header {
    background: #7DB3B1;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    justify-items: center;
}


header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header nav a {

    text-decoration: none;
    color: white;
    padding: 10px;

    font-weight: 700;
    font-size: 25px;
    font-style: normal;
}

header a:hover {
    color: #025351;

}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    
}

.caixadepesquisa {
    height: 25px;
    width: 215px;


    transform: scale(1.0);
    background-color: #FFFFFF;
    display: flex;

    overflow: hidden;
    border-radius: 10px;

    align-items: center;
}

.caixadepesquisa form input {
    width: 159px;
    height: 27px;
    border: none;
    outline: none;

    text-align: center;
}

.caixadepesquisa form button {
    width: 38px;
    height: 26px;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
}



.lupa{

    margin-top: 2px;
}

form{
    width: 100%;
    display: flex;
    align-items: center;
}

.produtos{
    border: 2px solid black;
    margin-top: 113px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.melhorsabor{
margin-top: 111px;
} 
.catalogo {
    border: 2px solid black;
    width: 100%;
    height: 1592px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    width: 360px;
    height: 740px;
    margin-left: 200px;
}